body{
    width: 100%;
    background: rgb(219, 216, 216);
}

section{
    display: flex;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    justify-content: center;
}

section img{
    width: 80px;
    flex-grow: 7;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
    margin: 0 auto;
    justify-content: center;
}

section img:hover{
    cursor: crosshair;
    width: 600px;
    opacity: 1;
    filter: contrast(120%);
}





